body {
    background-image: url('image1.jpg');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 20px;
    font-family: Verdana;
    text-align: center;
}

h4 {
    border-left: solid 5px rgb(245, 132, 151);
    padding-left: 3px;
}

span {
    background-color: rgb(218, 189, 110);
}

caption {
    background-color: rgba(121, 250, 250, 0.5);
}

blockquote {
    background-color: rgba(218, 189, 110, 0.5);
    text-align: justify;
}

.poem_img {
    float: left;
    padding: 7px;
    width: 120px;
    height: 150px;
}

button {
    background-color: rgb(10, 9, 9);
    color: rgb(252, 241, 241);
    margin: 6px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

button:hover {
    background-color: rgb(41, 38, 41);
}

.para {
    color: black;
    background-color: rgba(212, 176, 196, 0.5);
    padding: 1em 1em 1em 1em;
    margin: 7px;
    word-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: justify;
}

.link {
    color: whitesmoke;
}

.poem {
    background-color: rgba(212, 176, 196, 0.5);
    color: rgb(7, 7, 7);
    padding: 2px 2px;
    margin: 0px 2px;
}

.i1 {
    width: 200px;
    height: 200px;
    border: solid 2px black;
    padding: 10px;
}

.training {
    background-color: rgba(153, 252, 239, 0.6);
    color: black;
    padding: 7px;
}

iframe {
    width: 90%;
    padding: 1em 1em;
    border: 5px black;
    border-style: solid dashed;
}

.table,
th,
td {
    border-collapse: collapse;
    height: 30px;
}

th,
td {
    width: 100px;
    background-color: rgba(116, 243, 232, 0.3);
    text-align: center;
}

tr:hover {
    background-color: rgb(173, 141, 92);
}

ul {
    list-style: disc;
}

div.d1 {
    background-color: rgb(203, 241, 253);
    width: 90%;
    padding: 20px;
    margin: 7px 2px;
    text-align: justify;
    border: 4px solid rgb(65, 150, 248);
    border-style: inset;
    border-radius: 7px;
}