*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
}
h1{
    font-family:'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 42px;
    margin: 0%;
}
h2{
    font-family:'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 0%;
    padding-top: 2%;
    text-transform: uppercase;
}
h3{
    font-family:'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-top: 10%;
    margin: 0%;
    text-transform: uppercase;
}
h4{
    font-family:'Titillium Web', sans-serif;
    font-weight: normal;
    font-size: 18px;
    padding: 2% 20%;
    margin: 0%;
}
h5{
    font-family:'Titillium Web', sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin: 0%;
    color: rgb(48, 186, 231);
}
h6{
    font-family:'Titillium Web', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    padding-bottom: 2%;
}
.nav-font{
    font-family:'Titillium Web', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}
.dark-font{
    color: rgb(60,71,97);
}
.light-font{
    color: rgb(247, 243, 234);
}
.dark-line{
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.light-line{
    border-bottom: 2px solid rgba(189, 209, 223, 0.8);
}
.sec-purple
{
    width: 100%;
    height: 100vh;
    background-color: rgb(134, 79, 156);
    text-align: center;
}
.sec-green
{
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 194, 163);
    text-align: center;
}
.sec-gray
{
    width: 100%;
    height: 120vh;
    background-color: rgb(231, 241, 248);
    text-align: center;
}
.sec-blue
{
    width: 100%;
    height: 100vh;
    background-color: rgb(60, 83, 153);
    text-align: center;
}
.sec-purple h1{
    padding-top: 10%;
    padding-inline-start: 15%;
    padding-inline-end: 15%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    
}
img{
    float: left;
}
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-bar ul li{
    display: inline-block;
}
.nav-bar li a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 3px;
  }
.nav-bar li a.active{
    background-color: rgb(99, 58, 121);
}
.nav-bar li a:hover {
    background-color: rgb(99, 58, 121);
  }
.horizontal-line {
    height: 10px; 
    padding: 0px 30px;
    margin: 0% 47%;
}
.work-button
{
    background-color: rgb(235, 125, 75);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 15px 50px;
    margin-top: 20px;
    font-family:'Titillium Web', sans-serif;
    font-weight: normal;
    font-size: 18px;
}
.element-column
{   width: 25%;
    float: left;
    text-align: center;
    padding: 20px;
}
.sec-green .elements{
    padding: 40px 120px 10px;
}
.name-circle{
    height: 150px;
    width: 150px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.name-column{
    width: 25%;
    float: left;
    text-align: center;
    padding: 15px;
}
.roles{
    padding: 20px 100px 10px;
}
.social-icon{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
ul{
    padding: 0%;
}
li{
    padding: 5px;
}
.icons
{
    margin: 0%;
    padding: 5px 0px;
    background-color: #bdd1df;
    display: inline-block;
    width: 100%;
    max-width: 10%;
    border-radius: 100%;
    text-align: center;
}
.form-font{
    font-family:'Titillium Web', sans-serif;
    font-weight: 30px;
    font-size: 18px;
}
.form-s{
    background-color: rgb(39,57,113);
    border: none;
    border-radius: 2px;
    height: 50px;
    width: 450px;
    margin: 14px 14px;
    padding: 10px;
}
.form-r
{
    background-color: rgb(39, 57, 113);
    border: none;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 10px;
}
.sub-button{
    color: rgb(247, 243, 234);
    border: none;
    border-radius: 3px;
    background-color: rgb(47, 185, 231);
    padding: 10px 40px;
    margin: auto;
}
.inq-form{
    padding: 60px;
    margin: 0%;
}
::placeholder { 
    color: rgb(247, 243, 234);
    opacity: 1;
  }
